{% extends 'default.html' %}
{% load i18n %}
{% block title %}{% trans "Become author" %}{% endblock title %}

{% block content %}
<div class="text-center">
    {% if is_not_author %}
        <h3>{% trans "To become an author, click on below" %}</h3>
        <h4>{% trans "By becoming an author, you can write your articles and news, post them to the public, modify and delete them. In this case, your profile will display that you are the author of the entire user. All your posts will also have your name is visible" %}</h4><br>
        <a href="/news/upgrade/author">
            <button class="btn btn-primary">
                {% trans "Become author" %}
            </button>
        </a>
    {% else %}
      <h3>{% trans "Not required, you are already the author" %}</h3>
    {% endif %}
</div>

{% endblock content %}