{% extends 'default.html' %}
{% load filters %}
{% load i18n %}

{% block title %}{{ category }}{% endblock title %}

{% block content %}
<div class="text-center">
    <div class="row">
        <div class="col-sm-8 my-auto">
            <h1>{{ category }}</h1>
            <h6>{{ subscribers_count }} {% trans "subscribed" %}</h6>
        </div>
        <div class="col-sm-4 my-auto">
            {% if is_subscriber %}
                <a href="/news/unsubscribe/{{ category.id }}">
                    <button class="btn btn-secondary">{% trans "Unfollow" %}</button>
                </a>
            {% else %}
                <a href="/news/subscribe/{{ category.id }}">
                    <button class="btn btn-danger">{% trans "Follow" %}</button>
                </a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12"><h5>{{ category.description }}</h5></div>
    </div>
    <hr>
    <br>
    {% if posts %}
        {% include "table.html" %}
    {% endif %}
    <br>
    <a href="/news/search?author=&title=&datetime=&categories={{ category.id }}">
        <button class="btn btn-light">
            {% trans "More news from this category ..." %}
        </button>
    </a>
</div>
{% endblock content %}