{% extends 'default.html' %}
{% load filters %}
{% load i18n %}

{% block title %}{% trans "All publications" %}{% endblock %}

{% block content %}
<div class="text-center">
    <h1>{% trans "All publications" %}</h1>
    <h4>{% trans "Total" %} - {{ news_length }}</h4>
    <h1>{{ subscriptions }}</h1>
    <hr>
    {% if posts %}
        {% include "table.html" %}
    {% else %}
        <h2>{% trans "No posts!" %}</h2>
    {% endif %}

    <br>

    {% if is_paginated %}
        {% include "pagination.html" %}
    {% endif %}
</div>

{% endblock content %}