{% extends 'default.html' %}
{% load filters %}
{% load i18n %}

{% block title %}{% trans "Delete post" %}{% endblock title %}

{% block content %}
<div class="text-center">
    <h2>{% trans "Are you sure you want to delete this post?" %}</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    {% trans "Title" %}
                </th>
                <th>
                    {% trans "Date" %}
                </th>
                <th>
                    {% trans "Preview" %}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="/news/{{ post.id }}">{{ post.title|truncatechars:'30'|censor }}</a>
                </td>
                <td>
                    {{ post.date|date:'d.m.Y' }}
                </td>
                <td>
                    {{ post.text|truncatechars:50|censor }}
                </td>
            </tr>
        </tbody>
    </table>

    <form method="POST">
        {% csrf_token %}
        <input class="btn btn-danger" type="submit" value="{% trans 'Delete' %}">
    </form>
</div>
{% endblock content %}