{% extends 'default.html' %}
{% load filters %}
{% load i18n %}

{% block title %}{% trans "Search" %}{% endblock title %}

{% block content %}

<div class="text-center">
  <h1>{% trans "Search" %}</h1>
  {% if req %}
    <h4>{% trans "Articles found" %} - {{ news_length }}</h4>
  {% endif %}
  <hr>
</div>

<form method="get">
  <div class="form-group">
    <div class="form-row">
      <div class="col-sm">
        <label>{% trans "Author" %}</label>
        {{ filter.form.author }}
      </div>
      <div class="col-sm">
        <label>{% trans "Title" %}</label>
        {{ filter.form.title }}
      </div>
      <div class="col-sm">
        <label>{% trans "Type" %}</label>
        {{ filter.form.type }}
      </div>
      <div class="col-sm">
        <label>{% trans "Later date" %}</label>
        {{ filter.form.date }}
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>{% trans "Categories" %}</label>
    <div class="row col">
    {% for field in filter.form.categories %}
      {% if field.data.label != '---------' %}
        <div class="form-check col-sm-4">
          {{ field }}
        </div>
      {% endif %}
    {% endfor %}
    </div>
  </div>
  <div class="text-center">
    <input type="submit" class="btn btn-light" value="{% trans 'Search' %}" />
  </div>
</form>
<br>
<div class="text-center">
  {% if posts and req %}
    {% include "table.html" %}
  {% elif req %}
    <br><h4>{% trans "No results were found for this request!" %}</h4>
  {% endif %}
  <br>

  {% if is_paginated and req %}
    {% include 'pagination.html' %}
  {% endif %}
</div>
{% endblock content %}